<h1>Create Your Own Fantasy Team!</h1>

<form method="POST" action="/create_fantasy_team">
    <label for="search1">Enter team name:</label> 
        <input type="string" id="search1" name="team_name">
    <label for="search2">Enter password:</label> 
        <input type="string" id="search2" name="password"> 
    <button type="submit">Create</button>
</form> 

<h4>Click the helmet to go back to Homepage!</h4>
<a href="/">
    <img src="https://i.pinimg.com/originals/00/46/68/004668ec18bf895a88d008ade7551829.jpg" alt="Home" width="50" height="50">
</a>
  
  
