<h1> Search Results</h1>
<table border="1">
    <thead>
      <tr>
        <th> Winning Team</th>
        <th> Losing Team</th>
        <th> Score</th>
        <th> Date and Time </th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          <td>{{ row.win_team }} </td>
          <td>{{ row.losing_team}} </td>
          <td>{{ row.score}} </td>
          <td>{{ row.date}} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<h1>   </h1>
<h4> Click the helmet to go back to Homepage!</h4>
<a href="/">
    <img src="https://i.pinimg.com/originals/00/46/68/004668ec18bf895a88d008ade7551829.jpg" alt="Home" width="50" height="50">
</a>