<h1> Search Results</h1>
<table border="1">
    <thead>
      <tr>
        <th> Team Name</th>
        <th> Team Record</th>
        <th> Team City</th>
        <th> Team Super Bowl Wins </th>
        <th> Coach Name</th>
        <th> Coach Role</th>
        <th> Coach Record</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          <td>{{ row.team_name }}</td>
          <td>{{ row.team_record}}</td>
          <td>{{ row.team_city}}</td>
          <td> {{row.team_sb}} </td>
          <td> {{row.coach_name}} </td>
          <td> {{row.coach_role}}</td>
          <td> {{row.coach_record}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<h1>   </h1>
<h4> Click the helmet to go back to Homepage!</h4>
<a href="/">
    <img src="https://i.pinimg.com/originals/00/46/68/004668ec18bf895a88d008ade7551829.jpg" alt="Home" width="50" height="50">
</a>
  
